# Problem 1 - Kaggle Dataset
---
### üìö Essential Libraries (üíô)

Let us begin by importing the essential Python Libraries.
> NumPy : Library for Numeric Computations in Python
> Pandas : Library for Data Acquisition and Preparation

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd

### (a) ‚òÅÔ∏è üñº Let's import our dataset and frame it

In [2]:
house_prices_data = pd.read_csv('./train.csv', header = "infer")
house_prices_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# print("Data type : ", type(house_prices_data))
# print("Data dimensions : ", house_prices_data.shape)

### (b) üëÄ What are our data observations?

In [4]:
print("‚ú® The data has: \n", house_prices_data.shape[0], "observations (rows) \n", house_prices_data.shape[1], "variables (columns)")

‚ú® The data has:
 1460 observations (rows)
 81 variables (columns)

### (c) üî¢ What are our data types?

In [5]:
print("‚ú® The datatypes present are: ", house_prices_data.dtypes)

‚ú® The datatypes present are:  Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

### (d) ‚ÑπÔ∏è What does the info button do?

In [6]:
print("‚ú® The .info() method returns the following:")
print(house_prices_data.info())

‚ú® The .info() method returns the following:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None

### (e) üí¨ What does the .describe() method do?

In [7]:
print("‚ú® The .describe() method returns the following:")
print(house_prices_data.describe())

‚ú® The .describe() method returns the following:
                Id   MSSubClass  LotFrontage        LotArea  OverallQual  \
count  1460.000000  1460.000000  1201.000000    1460.000000  1460.000000
mean    730.500000    56.897260    70.049958   10516.828082     6.099315
std     421.610009    42.300571    24.284752    9981.264932     1.382997
min       1.000000    20.000000    21.000000    1300.000000     1.000000
25%     365.750000    20.000000    59.000000    7553.500000     5.000000
50%     730.500000    50.000000    69.000000    9478.500000     6.000000
75%    1095.250000    70.000000    80.000000   11601.500000     7.000000
max    1460.000000   190.000000   313.000000  215245.000000    10.000000

       OverallCond    YearBuilt  YearRemodAdd   MasVnrArea   BsmtFinSF1  ...  \
count  1460.000000  1460.000000   1460.000000  1452.000000  1460.000000  ...
mean      5.575342  1971.267808   1984.865753   103.685262   443.639726  ...
std       1.112799    30.202904     20.645407   181.066207   456.098091  ...
min       1.000000  1872.000000   1950.000000     0.000000     0.000000  ...
25%       5.000000  1954.000000   1967.000000     0.000000     0.000000  ...
50%       5.000000  1973.000000   1994.000000     0.000000   383.500000  ...
75%       6.000000  2000.000000   2004.000000   166.000000   712.250000  ...
max       9.000000  2010.000000   2010.000000  1600.000000  5644.000000  ...

        WoodDeckSF  OpenPorchSF  EnclosedPorch    3SsnPorch  ScreenPorch  \
count  1460.000000  1460.000000    1460.000000  1460.000000  1460.000000
mean     94.244521    46.660274      21.954110     3.409589    15.060959
std     125.338794    66.256028      61.119149    29.317331    55.757415
min       0.000000     0.000000       0.000000     0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000     0.000000
50%       0.000000    25.000000       0.000000     0.000000     0.000000
75%     168.000000    68.000000       0.000000     0.000000     0.000000
max     857.000000   547.000000     552.000000   508.000000   480.000000

          PoolArea       MiscVal       MoSold       YrSold      SalePrice
count  1460.000000   1460.000000  1460.000000  1460.000000    1460.000000
mean      2.758904     43.489041     6.321918  2007.815753  180921.195890
std      40.177307    496.123024     2.703626     1.328095   79442.502883
min       0.000000      0.000000     1.000000  2006.000000   34900.000000
25%       0.000000      0.000000     5.000000  2007.000000  129975.000000
50%       0.000000      0.000000     6.000000  2008.000000  163000.000000
75%       0.000000      0.000000     8.000000  2009.000000  214000.000000
max     738.000000  15500.000000    12.000000  2010.000000  755000.000000

[8 rows x 38 columns]

 ---------------

# Problem 2 - Wikipedia Dataset

Since we've already imported all required libraries previosly, we won't do that here ‚ò∫Ô∏è

### (a) ‚òÅÔ∏è üñº Let's scrape the Wikipedia page for the medals table!

In [8]:
scraped_html = pd.read_html("https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table")

### (b) üî¢ How many tables are there present in the scraped webpage?

In [9]:
print("‚ú® There are ", len(scraped_html), "tables present in the scraped html page")

‚ú® There are  6 tables present in the scraped html page

### üîé Which table in the list is the one we require?

In [10]:
print("cI'm just going to print everything and eyeball it lmao")
print(scraped_html)

cI'm just going to print everything and eyeball it lmao
[                                                   0
0                                Part of a series on
1  2016 Summer Olympics Bid process (bid details)...,                 Rank                         NOC  Gold  Silver  Bronze  Total
0                  1         United States¬†(USA)    46      37      38    121
1                  2         Great Britain¬†(GBR)    27      23      17     67
2                  3                 China¬†(CHN)    26      18      26     70
3                  4                Russia¬†(RUS)    19      17      20     56
4                  5               Germany¬†(GER)    17      10      15     42
..               ...                         ...   ...     ...     ...    ...
82                78               Nigeria¬†(NGR)     0       0       1      1
83                78              Portugal¬†(POR)     0       0       1      1
84                78   Trinidad and Tobago¬†(TTO)     0       0       1      1
85                78  United Arab Emirates¬†(UAE)     0       0       1      1
86  Totals (86 NOCs)            Totals (86 NOCs)   307     307     359    973

[87 rows x 6 columns],                                          Ruling date  \
0  List of official changes in medal standings (d...
1                                     18 August 2016
2                                     18 August 2016
3  List of official changes in medal standings (a...
4                                    8 December 2016
5                                    8 December 2016
6                                    8 December 2016
7                                    8 December 2016
8                                    30 January 2017
9                                    30 January 2017

                                         Sport/Event  \
0  List of official changes in medal standings (d...
1                           WeightliftingMen's 69 kg
2                           WeightliftingMen's 69 kg
3  List of official changes in medal standings (a...
4                           WeightliftingMen's 85 kg
5                           WeightliftingMen's 85 kg
6                              BoxingMen's flyweight
7                              BoxingMen's flyweight
8                      CanoeingMen's C-1 1000 metres
9                      CanoeingMen's C-1 1000 metres

                                       Athlete (NOC)  \
0  List of official changes in medal standings (d...
1                            Izzat Artykov¬†(KGZ) DSQ
2                         Luis Javier Mosquera¬†(COL)
3  List of official changes in medal standings (a...
4                        Gabriel S√ÆncrƒÉian¬†(ROM) DSQ
5                                 Denis Ulanov¬†(KAZ)
6                             Misha Aloyan¬†(RUS) DSQ
7                                   Yoel Finol¬†(VEN)
8                       Serghei Tarnovschi¬†(MDA) DSQ
9                               Ilia Shtokalov¬†(RUS)

                                          Unnamed: 3  \
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

                                          Unnamed: 4  \
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                 ‚àí1
7                                                 +1
8                                                NaN
9                                                NaN

                                          Unnamed: 5  \
0  List of official changes in medal standings (d...
1                                                 ‚àí1
2                                                 +1
3  List of official changes in medal standings (a...
4                                                 ‚àí1
5                                                 +1
6                                                NaN
7                                                 ‚àí1
8                                                 ‚àí1
9                                                 +1

                                               Total  \
0  List of official changes in medal standings (d...
1                                                 ‚àí1
2                                                 +1
3  List of official changes in medal standings (a...
4                                                 ‚àí1
5                                                 +1
6                                                 ‚àí1
7                                                  0
8                                                 ‚àí1
9                                                 +1

                                             Comment  \
0  List of official changes in medal standings (d...
1  On 18 August 2016, Kyrgyz weightlifter Izzat A...
2  On 18 August 2016, Kyrgyz weightlifter Izzat A...
3  List of official changes in medal standings (a...
4  On 8 December 2016, the CAS disqualified weigh...
5  On 8 December 2016, the CAS disqualified weigh...
6  On 8 December 2016, the CAS disqualified weigh...
7  On 8 December 2016, the CAS disqualified weigh...
8  Serghei Tarnovschi of Moldova was stripped of ...
9  Serghei Tarnovschi of Moldova was stripped of ...

                                          Unnamed: 8
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN  ,                        vteOlympic Games medal tables  \
0  Olympic medal All-time Olympic Games medal tab...
1                               Summer Olympic Games
2                               Winter Olympic Games
3  Lists of Olympic medalists List of stripped Ol...

                     vteOlympic Games medal tables.1
0  Olympic medal All-time Olympic Games medal tab...
1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
3  Lists of Olympic medalists List of stripped Ol...  ,                vteEvents at the 2016 Summer Olympics  \
0  Archery Athletics Badminton Basketball men wom...

             vteEvents at the 2016 Summer Olympics.1
0  Archery Athletics Badminton Basketball men wom...  ,       vteSummer Olympics medal table leaders by year  \
0  .mw-parser-output .div-col{margin-top:0.3em;co...

    vteSummer Olympics medal table leaders by year.1
0  .mw-parser-output .div-col{margin-top:0.3em;co...  ]

ooh we got it - it's the 1st element (counting from 0)

### (d) üöú Let's mine the data and frame it!

In [11]:
summer_olympics_medals_2016_table = scraped_html[1]
summer_olympics_medals_2016 = pd.DataFrame(summer_olympics_medals_2016_table)

print("‚ú® Here's a truncated version of our data")
print(summer_olympics_medals_2016.head())

‚ú® Here's a truncated version of our data
  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States¬†(USA)    46      37      38    121
1    2  Great Britain¬†(GBR)    27      23      17     67
2    3          China¬†(CHN)    26      18      26     70
3    4         Russia¬†(RUS)    19      17      20     56
4    5        Germany¬†(GER)    17      10      15     42

### (e) üèÖFinally, let's grab the top 20 countries

In [14]:
top_20_countries = pd.DataFrame(summer_olympics_medals_2016.nlargest(20, "Total"))
print("‚ú® The top 20 countries (by total medals) at the 2016 Summer Olympics were :")
print(top_20_countries)

‚ú® The top 20 countries (by total medals) at the 2016 Summer Olympics were :
                Rank                  NOC  Gold  Silver  Bronze  Total
86  Totals (86 NOCs)     Totals (86 NOCs)   307     307     359    973
0                  1  United States¬†(USA)    46      37      38    121
2                  3          China¬†(CHN)    26      18      26     70
1                  2  Great Britain¬†(GBR)    27      23      17     67
3                  4         Russia¬†(RUS)    19      17      20     56
4                  5        Germany¬†(GER)    17      10      15     42
6                  7         France¬†(FRA)    10      18      14     42
5                  6          Japan¬†(JPN)    12       8      21     41
9                 10      Australia¬†(AUS)     8      11      10     29
8                  9          Italy¬†(ITA)     8      12       8     28
19                20         Canada¬†(CAN)     4       3      15     22
7                  8    South Korea¬†(KOR)     9       3       9     21
10                11    Netherlands¬†(NED)     8       7       4     19
12                13        Brazil¬†(BRA)*     7       6       6     19
18                19    New Zealand¬†(NZL)     4       9       5     18
21                22     Kazakhstan¬†(KAZ)     3       5      10     18
38                39     Azerbaijan¬†(AZE)     1       7      10     18
13                14          Spain¬†(ESP)     7       4       6     17
11                12        Hungary¬†(HUN)     8       3       4     15
27                28        Denmark¬†(DEN)     2       6       7     15